.hidden{
    display: none;
}
.heart-reveal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 100px;
  color: #ff4d6d;
  opacity: 0;
  pointer-events: none;
  animation: heartPop 3s forwards;
  z-index: 20;
}
@keyframes heartPop {
  0%{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50%{
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 1;
  }
  70%{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100%{
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
.hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  overflow: hidden;
}
.heart {
  position: fixed;
  font-size: 100px;
  animation: float 5s linear infinite;
}
@keyframes float {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50vh) scale(1.5);
    opacity: 0;
  }
}


body{
   
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffe6e6, #ffcccc)
}
main{
    position: relative;
    max-width: none;
    width: 100%;
}

section{
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
}
#greet{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color:#ff1a4d;
}
#hello{
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
#landing{
  max-width: 600px;
  margin: 0 auto;
}
#landing p{
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

button{
    margin-top: 50px;
    padding: 20px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    background: #ff4d6d;
    color: white;
    cursor: pointer;
}
button:hover{
    background: #ff1a4d;
    transform: scale(1.05);
}
#letter{
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
}
#letter:not(.hidden){
  display: flex;
}
.envelope {
  perspective: 600px;
  width: 900px;
  max-width: 95%; 
  background: #fff;
  border: 2px solid #ff4d6d;
  border-radius: 8px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px 60px;
}
/* @media screen and (min-width: 768px) {
  .envelope {
    width: 500px;
  }
} */

.letter-content {
  max-width: 800px;
  opacity: 0;
  transition: opacity 1s ease 2s;
  text-align: justify;
  padding: 20px 20px;
  line-height: 1.5;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}
.letter-content h1, .letter-content h3, .letter-content p {
  margin-top: 0;
  margin-bottom: 10px;
}
.letter-content h1{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #ff4d6d;
}
.letter-content p{
  line-height: 1.8;
  letter-spacing: 0.2px;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
.letter-content h3{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  color: #ff4d6d;
}