.hidden{
    display: none;
}

.hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  overflow: hidden;
  z-index: 0; 
}

/* Each heart */
.heart {
  position: fixed;
  font-size: 100px;
  animation: float 5s linear infinite;
}

/* Float animation */
@keyframes float {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50vh) scale(1.5);
    opacity: 0;
  }
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #ffe6e6, #ffcccc);
}
main{
    max-width: 600px;
}

section{
    padding: 20px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    transition: transform 0.3s ease;
}
#greet{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color:#ff1a4d;
}
#hello{
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
#landing p{
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

button{
    margin-top: 50px;
    padding: 20px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    background: #ff4d6d;
    color: white;
    cursor: pointer;
}
button:hover{
    background: #ff1a4d;
    transform: scale(1.05);
}

.envelope {
  width: 300px;
  height: 200px;
  background: #fff;
  border: 2px solid #ff4d6d;
  border-radius: 8px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  perspective: 600px;
}

.flap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #ff4d6d;
  transform-origin: top center;
  transition: transform 1s ease;
  z-index: 2;
}

.letter-content {
  padding: 20px;
  opacity: 0;
  transition: opacity 1s ease 0.8s;
  z-index: 1;
}
